* {
    box-sizing: border-box;
}

body {
    width:500px;
    margin:20px auto;
}

  .box {
    padding: 10px;
    text-align: center;
  }
  
  .inputs input, .inputs textarea, .inputs select {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 20px;
  }

  .conditions {
      padding: 10px;

  }
  
  .control-panel {
    text-align: center;
  }
  .control-panel button {
    font-size: 20px;
  }

  li {
    color: red;
    font-size: 20px;
  }
  

  .invaild {
    border-color: red;
    background-color: red; 
  }
